.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%;
}

.message-box {
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}
/* Existing styles... */

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.loading-container img {
    width: 100px; /* Adjust size as needed */
}

.loading-container p {
    margin-top: 10px;
    font-size: 1.2em;
}
