<!DOCTYPE html>
<html>
<head>
    <body class="page3">
        <title>Study Modes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </body> 
</head>
<body>
    <div class="banner">
        <div class="video-background">
            <video autoplay loop muted plays-inline>
                <source src="{{ url_for('static', filename='video/video1.mp4') }}" type="video/mp4">
            </video>  
        </div>
    
        <div class="navbar">
            <img class="logo" src="{{ url_for('static', filename='image/logo2.jpeg') }}" alt="Logo">
            <ul>
                <li><a href="{{ url_for('index') }}">MAIN</a></li>
                <li><a href="{{ url_for('page2') }}">ABOUT US</a></li>
                <li><a href="{{ url_for('page1') }}">SUBJECTS</a></li>
                <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            </ul>
        </div>

    <div class="card-container">
        <div class="card">
            <img class="logo" src="{{ url_for('static', filename='image/studyalone.jpeg') }}" alt="Study-Alone">
            <div class="card-content">
                <h3>Study-Alone Mode</h3>
                <p>The "Study Alone" mode on Connectify allows students to focus individually while 
                    still being connected to others. This feature promotes a distraction-free environment, 
                    helping students stay productive and motivated while studying independently within the Connectify platform.</p>
            </div>
        </div>

       <div class="card">
        <img class="logo" src="{{ url_for('static', filename='image/studybuddy.jpeg') }}" alt="Study-Buddy">
        <div class="card-content">
            <h3>Study-Buddy Mode</h3>
            <p>The "Study-Buddy" mode on Connectify enables students to pair up with a study partner, 
                fostering collaboration and mutual support. This feature encourages interactive learning, 
                making study sessions more engaging and effective by allowing students to share knowledge and stay motivated together.</p>
        </div>
    </div>


    <div class="card">
        <img class="logo" src="{{ url_for('static', filename='image/studyrandom.jpeg') }}" alt="Study-With-Random-Coursemate">
        <div class="card-content">
            <h3>Study-With-Random-Coursemate</h3>
            <p>The "Study with Random Coursemates" mode on Connectify connects students with peers taking the same course,
                offering an opportunity to collaborate with new classmates. This feature enhances learning by promoting
                 diverse perspectives and fostering a sense of community within the course.</p>

        </div>
    </div>

</body>