<!DOCTYPE html>
<html>
<head>
    <title>Subjects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="page1">
    <div class="banner">
        <div class="video-background">
            <video autoplay loop muted plays-inline>
                <source src="{{ url_for('static', filename='video/video1.mp4') }}" type="video/mp4">
            </video>  
        </div>

        <div class="navbar">
            <img class="logo" src="{{ url_for('static', filename='image/logo2.jpeg') }}" alt="Logo">
            <ul>
                <li><a href="{{ url_for('index') }}">MAIN</a></li>
                <li><a href="{{ url_for('page2') }}">ABOUT US</a></li>
                <li><a href="{{ url_for('page3') }}">STUDY SPACE</a></li>
                <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            </ul>
        </div>

        <div class="card-container2">
            <div class="card2">
                <img src="{{ url_for('static', filename='image/coding.png') }}" alt="Coding">
                <div class="card-content">
                    <h3>Introduction to Computing Technology</h3>
                    <p>Introduction to Computing Technology covers the fundamentals of computers, hardware, software, programming, algorithms, and problem-solving techniques, building essential foundational knowledge for further studies.</p>
                </div>
            </div>
        

        <div class="card2">
                <img src="{{ url_for('static', filename='image/computer.png') }}" alt="Coding">
                <div class="card-content">
                    <h3>Problem Solving and Design</h3>
                    <p>It builds a strong foundation in hardware, software, and teamwork, preparing students for advanced studies.Problem Solving and Design focuses on developing logical thinking, algorithmic approaches, and structured methods to solve real-world problems through coding techniques.</p>
                </div>
            </div>
       

        <div class="card2">
                <img src="{{ url_for('static', filename='image/miniit.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Mini IT Project</h3>
                    <p>Mini IT Project involves applying foundational coding skills to develop small-scale projects, focusing on problem-solving, teamwork, and practical application of concepts.</p>
                </div>
            </div>
        

            <div class="card2">
                <img src="{{ url_for('static', filename='image/precalculus.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Mathematics I</h3>
                    <p>Maths 1 covers fundamental mathematical concepts such as algebra, functions, and equations, providing a strong foundation for advanced studies.</p>
                </div>
            </div>
        

     
            <div class="card2">
                <img src="{{ url_for('static', filename='image/maths2.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Mathematics II</h3>
                    <p>Maths 2 focuses on calculus, including limits, differentiation, and integration, building essential skills for problem-solving in engineering and science.</p>
                </div>
            </div>
        

            <div class="card2">
                <img src="{{ url_for('static', filename='image/maths3.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Mathematics III</h3>
                    <p>Maths 3 covers advanced calculus topics like multivariable functions, partial derivatives, and vector calculus, essential for higher-level engineering and physics applications.</p>
                </div>
            </div>
        


            <div class="card2">
                <img src="{{ url_for('static', filename='image/ds.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Introduction to Digital System</h3>
                    <p>Introduction to Digital Systems explores the basics of digital logic, circuits, binary systems, and data processing, foundational for electronics and computing.</p>
                </div>
            </div>
    

    
            <div class="card2">
                <img src="{{ url_for('static', filename='image/physics.png') }}" alt="Coding">
                <div class="card-content">
                    <h3>Principles of Physics</h3>
                    <p>Principles of Physics covers fundamental concepts such as motion, force, energy, and thermodynamics, providing a basis for understanding physical phenomena and applications.</p>
                </div>
            </div>
        

    
            <div class="card2">
                <img src="{{ url_for('static', filename='image/bs.png') }}" alt="Coding">
                <div class="card-content">
                    <h3>Introduction to Business Management</h3>
                    <p>Introduction to Business Management covers essential concepts like planning, organizing, leading, and controlling, providing foundational knowledge for effective business operations and leadership.</p>
                </div>
            </div>
        

 
            <div class="card2">
                <img src="{{ url_for('static', filename='image/ct.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Critical Thinking</h3>
                    <p>Critical Thinking involves analyzing, evaluating, and synthesizing information to make reasoned judgments, solve problems, and make informed decisions.</p>
                </div>
            </div>
        


            <div class="card2">
                <img src="{{ url_for('static', filename='image/mf.jpeg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Multimedia Fundamentals</h3>
                    <p>Multimedia Fundamentals introduces key concepts in creating and managing digital media, including text, images, audio, and video for effective communication.</p>
                </div>
            </div>
        

 
            <div class="card2">
                <img src="{{ url_for('static', filename='image/ceng.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Communicative English</h3>
                    <p>Communicative English enhances speaking, listening, and interactive skills for effective everyday conversations and professional interactions in diverse settings.</p>
                </div>
            </div>
        


            <div class="card2">
                <img src="{{ url_for('static', filename='image/esseng.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Essential English</h3>
                    <p>Essential English focuses on core language skills, including grammar, vocabulary, and reading comprehension, crucial for foundational proficiency and everyday communication.</p>
                </div>
            </div>
        

      
            <div class="card2">
                <img src="{{ url_for('static', filename='image/acceng.jpg') }}" alt="Coding">
                <div class="card-content">
                    <h3>Academic English</h3>
                    <p>Academic English develops advanced reading, writing, and analytical skills needed for academic research, essays, and critical thinking in higher education contexts.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
