<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="chat-window">
            <div class="chat-header">
                <h1>{{ room if room else subject_name }}</h1>
            </div>

            {% if session.get('name') %}
                <div class="chat-content" id="chat-content">
                    {% for message in messages %}
                        <p><strong>{{ message.username }}:</strong> {{ message.content }}</p>
                    {% endfor %}
                </div>
                <div class="chat-input">
                    <input type="text" id="message-input" placeholder="Type your message here...">
                    <button id="send-button">Send</button>
                </div>
            {% else %}
                <form action="{{ url_for('chat', subject_name=subject_name) }}" method="POST">
                    <label for="name">Enter your nickname:</label>
                    <input type="text" id="name" name="name" required>
                    <input type="submit" value="Join Chat">
                </form>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <script>
        const socket = io.connect(window.location.origin);

        document.addEventListener('DOMContentLoaded', () => {
            const messageInput = document.getElementById('message-input');
            const sendButton = document.getElementById('send-button');
            const chatContent = document.getElementById('chat-content');

            socket.on('message', (data) => {
            const messageElement = document.createElement('p');
            messageElement.innerHTML = `<strong>${data.name}:</strong> ${data.message}`;
            chatContent.appendChild(messageElement);
            chatContent.scrollTop = chatContent.scrollHeight;  
        });


            sendButton.addEventListener('click', () => {
                const message = messageInput.value;
                if (message) {
                    socket.emit('message', { name: "{{ session['name'] }}", message: message });
                    messageInput.value = '';
                }
            });

            messageInput.addEventListener('keypress', (e) => {
                if (e.key === 'Enter') {
                    sendButton.click();
                }
            });
        });
    </script>
</body>
</html>