<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONNECTIFY</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="banner">
        <video autoplay loop muted plays-inline>
            <source src="{{ url_for('static', filename='video/video1.mp4') }}" type="video/mp4">
        </video>
        <div class="navbar">
            <img class="logo" src="{{ url_for('static', filename='image/logo2.jpeg') }}" alt="Logo">
            <ul>
                <li><a href="{{ url_for('page2') }}">ABOUT US</a></li>
                <li><a href="{{ url_for('page1') }}">SUBJECTS</a></li>
                <li><a href="{{ url_for('page3') }}">STUDY SPACE</a></li>
                <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>CONNECTIFY: UNITING THE STUDENTS MIND</h1>
            <div>
                <a href="{{ url_for('register') }}"><button type="button">REGISTER NOW</button></a>
            </div>
        </div>
    </div>
</body>
</html>