<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Register</title>
</head>

<body>
    <div class="banner">
        <div class="video-background2">
            <video autoplay loop muted plays-inline>
                <source src="{{ url_for('static', filename='video/video3.mp4') }}" type="video/mp4">
            </video>  
        </div> 
    <div class="regbox"><h1>Register Page</h1>

        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username() }}
            {{ form.email.label }} {{ form.email() }}
            {{ form.password.label }} {{ form.password() }}
            {{ form.submit() }}
        </form>
    
    <a href="{{ url_for('login') }}">Already have an account? Log In</a>
</div>
    </div>
</body>
</html>