<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Library & Upload File</title>
</head>
<body class="upload-p">
    <div class="sidebar">
        <ul>
            <li>
                <a>
              <div class="title">Connectify</div>
            </a>
            </li>
            <li>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <div class="title"></div>

            </li>
            <li>
                <a href="{{ url_for('profile') }}">Profile</a>
                </a>
            </li>
            <li>
                <a href="{{ url_for('studyspace') }}">Study Space</a>
            </li>
            <li>
                <a href="{{ url_for('feedback') }}">Feedback and ratings</a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">
                    <div class="title">Log Out</div>
                </a>
            </li>
        </ul>
    </div>

  

    <div class="container-p">
    <section class="facilities">
    <div class="upload-h1">
    <h1>Upload a File</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        {{ upload_form.file.label }} {{ upload_form.file() }}
        {{ upload_form.submit() }}
    </form>
    </div>
    </section>
     
    <br><br><br>
    <section class="studymode">
    <div class="upload-h3">
    <h3>Uploaded Files:
    <ul>
        {% for file in files %}
        <li>{{ file.file_name }} - <a href="{{ url_for('download_file', filename=file.file_name) }}">Download</a></li>
        {% endfor %}
    </ul>
    </h3>
    </div>
    </section>

    <br><br>

    <section>
    <div class="upload-container"> 
     <h1 class="upload-header">Subject Materials</h1>
            <table class="upload-table">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Notes</th>
                        <th>Tutorial</th>
                        <th>Past Paper</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>MATHEMATICS 1</td>
                        <td><a href="https://drive.google.com/file/d/1jq-tGc0qp_-Dfe-Yn75hf9wXcr-wMm9n/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                        <a href="https://drive.google.com/file/d/1rCPcIp8hLT-JxMeVCLYdJuwK_BoikADJ/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                        <a href="https://drive.google.com/file/d/17xt-SopUsARLpN7xc489HLBuPq2z_QmD/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                        <a href="https://drive.google.com/file/d/1D4Uq0eqy3uD3LLopbyzA-0SRllHXB4dA/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4</a>
                        <a href="https://drive.google.com/file/d/1xvVE5CuAY-sqWIrtqn3kreBKdRvaH6oK/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5</a>
                        <a href="https://drive.google.com/file/d/1yw4PQpLXIWn0VX4A6ljeekvDK_ieqygu/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 6</a>

                    </td>
                          
                        <td><a href="https://drive.google.com/file/d/1EB8bfNLbeIhV3xGdwLd33Afm6v_bxny1/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 1</a>
                        <a href="https://drive.google.com/file/d/1lQ9-3lgIjXjeyBBEDD3U8iRvgBnnjnRX/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 2</a></td>

                        <td><a href="https://drive.google.com/file/d/17onTp5YszUUhwoV8dsCCzR_gXCt2jGXy/view?usp=drive_link" class="upload-link" placeholder="Link to Past Paper">Set 1</a>
                            <a href="https://drive.google.com/file/d/1jFTrvCAc9H_EpQz27CFA4TWFwitoSrJ7/view?usp=drive_link" class="upload-link" placeholder="Link to Past Paper">Set 2</a>
                            <a href="https://drive.google.com/file/d/1usviVWEQndKK8m_g53nBmA_V4O-_NMf-/view?usp=drive_link" class="upload-link" placeholder="Link to Past Paper">Set 3</a>
                            <a href="https://drive.google.com/file/d/1lbKcTxNlcQgCq93SbkDMifEsnWYBcxc9/view?usp=drive_link" class="upload-link" placeholder="Link to Past Paper">Set 4</a></td>
                    </tr>

                    <tr>
                        <td>MATHEMATICS 2</td>
                        <td><a href="https://drive.google.com/file/d/16In95iXIX_epsL-aQ2HwoqZWIJ2CCUtm/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1.1</a>
                        <a href="https://drive.google.com/file/d/1Zdq3-ZOCfcxWIwbzoKCoq7btpNuaKrm-/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1.2</a>
                        <a href="https://drive.google.com/file/d/1KrMQTa0imfO860VG88-kkXarxaR5ODYv/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2.1</a>
                        <a href="https://drive.google.com/file/d/1y-qKNRQcPXpnSgtQQZugyDzdhGcp95Yf/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2.2</a>
                        <a href="https://drive.google.com/file/d/19y9kHxNZz6eFGnDwMPNK8isTOc8Si_To/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                        <a href="https://drive.google.com/file/d/1ufbNYaXTiSXgCUFBmn2lcshJvpPk92lS/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4</a>
                        <a href="https://drive.google.com/file/d/1_wBpzlXwtosH8oyRAJPu6cVnE53R2jkK/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5</a></td>

                        <td><a href="https://drive.google.com/file/d/1Q8t5APXWcPlzU3Y5huxlqkZAb-THLZMG/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 1.1</a>
                        <a href="https://drive.google.com/file/d/1PMYFhkQZY01GE-4QZ3W0VVmihMJm9s6O/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 1.2</a>
                        <a href="https://drive.google.com/file/d/1a76vf202fiaRGw1kM1jugmOniTzrBA3h/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 2.1</a>
                        <a href="https://drive.google.com/file/d/1l3kqzLqXybjATYqHOPzXirVoHDuxX1_N/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 2.2</a>
                        <a href="https://drive.google.com/file/d/1wEtbibUK-vauAvlA-Gc9qvBO9-5wfH13/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 3</a>
                        <a href="https://drive.google.com/file/d/1cjErF8G3vJaBMPFJ8FI6csX-nLtixzcC/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 4</a>
                        <a href="https://drive.google.com/file/d/1h2f9LsILu54QcBQztSjNl-1M7I5fTl8v/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 5</a>
                  
                        <td><a href="https://drive.google.com/file/d/10v9uMu9LTCR6SW6TpdiAN7W2Lj79u9IH/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 1</a>
                        <a href="https://drive.google.com/file/d/1XuGKfmFepD1H_9TOQziFnnwbyqhJr1HY/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 2</a>
                        <a href="https://drive.google.com/file/d/1qgU7cB0LrRgo7KSMq4uTtfU6D5_rfj21/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 3</a>
                        <a href="https://drive.google.com/file/d/14to7yj2tjJN6EWsuwD69RyYs25ppEJGe/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 4</a>
                    </td>
                    </tr>
                
                    <tr>
                        <td>MATHEMATICS 3</td>
                        <td><a href="https://drive.google.com/file/d/1Z2eTG0bNdFzQIetutckgsFaERJ8v_poG/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                        <a href="https://drive.google.com/file/d/1DxE_MlUh6VreGQA6hKDy6LZJocRPxmSk/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                        <a href="https://drive.google.com/file/d/1RaG1aga0NK5c6V3muentiwHHf_nDoq-J/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                        <a href="https://drive.google.com/file/d/1HvZiLbueSwFsx3MLpI4xshnNrx0fBqQk/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4.1</a>
                        <a href="https://drive.google.com/file/d/1BTCxWD9wpMIg7Wda4tZUowlWzKiiKr2f/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4.2</a>
                        <a href="https://drive.google.com/file/d/1rLkhnyYA91vURoEgzw5NbvMZRtVD8Trx/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4.3</a>
                        <a href="https://drive.google.com/file/d/1jEx00lswSbnBKwwWWq-BQkBN48dHmcss/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5.1</a>
                        <a href="https://drive.google.com/file/d/1-PgUhWOePK0S3XsR9GwnVFS1l-g9n4tE/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5.2</a>
                        <a href="https://drive.google.com/file/d/1UzrlyUrk9mztzEx3Q4zgZ6P5wAnXJDnC/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 6</a></td>

                        <td><a href="https://drive.google.com/file/d/1EKaf4fnLVYzBz8oZ_oci_isZ0CKNbuWP/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 1</a>
                        <a href="https://drive.google.com/file/d/1wnHZ5DEmeANWjxYOdtUrnUnWqJEWab0g/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 2</a>
                        <a href="https://drive.google.com/file/d/1sDO-NPYr0kAuWQXUeRezf6IvXV-LijpO/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 3</a>
                        <a href="https://drive.google.com/file/d/1VklEcTqQCZiUbH_8DbQKoY3kkJ8HDuo1/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 4</a>
                        <a href="https://drive.google.com/file/d/1yuNTmOTglYWBYeR7hWRYOBCgdlyra16Q/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 5</a>
                        <a href="https://drive.google.com/file/d/1HVzs53CBkMo6zSBzkStpgehK-YYvEqQw/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 6</a>
                        </td>

                        <td><a href="" type="url" class="upload-link" placeholder="Link to Past Paper">Set 1</a>
                        <a href="" type="url" class="upload-link" placeholder="Link to Past Paper">Set 2</a>
                        <a href="" type="url" class="upload-link" placeholder="Link to Past Paper">Set 3</a>
                        <a href="" type="url" class="upload-link" placeholder="Link to Past Paper">Set 4</a></td>

                    </tr>

                    <tr>
                    <td>PHYISCS</td>
                    <td>
                        <a href="https://drive.google.com/file/d/1WSCiCvcROklx0Wy0f-_I13lJa8fgutpU/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                        <a href="https://drive.google.com/file/d/1wCdQ2W_H8_lmAOFie70CGmdKhc27RN2n/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                        <a href="https://drive.google.com/file/d/10YznDGayZbYpyIv2eiYuHYuYSAyJNF87/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                        <a href="https://drive.google.com/file/d/1QyUQHC89DBSF_2aAAXvT8_7BJrAO2b1v/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4</a>
                        <a href="https://drive.google.com/file/d/1wIsbK585H87TN-8rk3wcRW7GiAsjQy9M/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5.1</a>
                        <a href="https://drive.google.com/file/d/1nLLgDCgM6f0GJ70L8SAg5HCitBTO6uQ9/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5.2</a>
                        <a href="https://drive.google.com/file/d/1Bo9DC9iPr3yV_riVsW1clMC4lAi1DvUt/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 6</a>
                    </td>
                    
                    <td>
                        <a href="https://drive.google.com/file/d/1SX40WytnCy9RgXlQKiQF8AfVD6gI58iu/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 1</a>
                        <a href="https://drive.google.com/file/d/19ri_J2oMP0PN4WjiQmG18X-ohclMNn7y/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 2</a>
                        <a href="https://drive.google.com/file/d/10PP2IzoUEUNu14Av5wJHTEB6HGoofx4s/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 3</a>
                        <a href="https://drive.google.com/file/d/1AaJnlKHueG2dxW_ndJHPFnU8I9VSqMNj/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 4</a>
                        <a href="https://drive.google.com/file/d/1k0nM8bQVVvbGjeiFf82-Z3u9iQe-S6ww/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 5.1</a>
                        <a href="https://drive.google.com/file/d/188ZYeGfdMaN94RQDxl7bgXbdApMeNPHo/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 5.2</a>
                        <a href="https://drive.google.com/file/d/1u8kGbVjS6VbniEsXizIRS3G0P-Z1uNNr/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 6</a>
                    </td>
                    
                    <td>
                        <a href="https://drive.google.com/file/d/14JN5bjuChIJ48a9c455vgc45b3mkKfRP/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 1</a>
                        <a href="https://drive.google.com/file/d/1U-ZXEg403Mv13Jap-jt8Y9cYV2XjDEAd/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 2</a>
                        <a href="https://drive.google.com/file/d/1DFi9TIUfxnxq2cwJoa5xpDookrBoj2I1/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 3</a>
                        <a href="https://drive.google.com/file/d/1boTJ6m_FdbUv7_4Yf3oYjGZMiI4NbvDy/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 4</a>
                    </td>
                    </tr>

                    <tr>
                    <td>INTRODUCTION TO DIGITAL SYSTEM</td>
                    <td>
                        <a href="https://drive.google.com/file/d/1hdOubd7mqzJsTON0T6LL7QCcyej6VnVR/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                        <a href="https://drive.google.com/file/d/1ZrsXokcUUshgX0pydzN4uZFjY8i3SzVN/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                        <a href="https://drive.google.com/file/d/1HERkOD-pZLYidmviIP0qvUmGXWe7HbvH/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                        <a href="https://drive.google.com/file/d/1e0_J1KyKXg_lIeifVxUvQfRnvuIPUiKg/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4</a>
                        <a href="https://drive.google.com/file/d/1Ys8Tn6i7kFSr069n0Iq7mi73whxIJbME/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5</a>
                        <a href="https://drive.google.com/file/d/1hV2aaY7CLdUOB299d8lLGDmDZSpRXnjj/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 6</a>
                        <a href="https://drive.google.com/file/d/1oQbh1rjEsyQI-MGxx9My0BeyOYz6L8LJ/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 7</a>
                        <a href="https://drive.google.com/file/d/1HaQP7zc3Fy4KhEowJifnniExwrJ3H5Ks/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 8</a>
                        <a href="https://drive.google.com/file/d/1TUXqY7yO4dNfGK4A0TAH2fY8r2Qb5iqi/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 9</a>
                        <a href="https://drive.google.com/file/d/1gTUcYnhuN0NRkzWClNR2ygJecEJ_XlGt/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 10</a>
                        <a href="https://drive.google.com/file/d/1_W08eeVkmxEyxeDn11FvQbEFTn1YwGHE/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 11</a>
                        <a href="https://drive.google.com/file/d/1hlxKB2gcREqpeI4rpQo6alreYkUvi0nn/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 12</a>

                    </td>
                    
                    <td>
                        <a href="https://drive.google.com/file/d/13lFPeXw9LmhX6HZspOsM7hG07ZiPGeWo/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 1</a>
                        <a href="https://drive.google.com/file/d/1SOPGE59eNIpWB6yCBv-wjHtpbP_R3_9Y/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 2</a>
                        <a href="https://drive.google.com/file/d/1lblm8n4sljNfJxC3yeXe4DzkpnzCa8Te/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 3</a>
                        <a href="https://drive.google.com/file/d/1nKDYK-fccTKJnvuZQQvTY9Rbm3FxohQr/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 4</a>
                        <a href="https://drive.google.com/file/d/1sIJ8uQbSZF5omQr8SvvSiYJ3oi2FtV7H/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 5</a>
                        <a href="https://drive.google.com/file/d/1Sl1JVD79QNyj1b2ZhPiyxbkRfPlroMO4/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 6</a>
                        <a href="https://drive.google.com/file/d/1qf1P6BmGFw0xRIO5OxqbR3InAeUHpW0l/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 7</a>
                        <a href="https://drive.google.com/file/d/1M-zuMI6pJzldHpXWt36L94uo3FZihbGu/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Tutorial">Tutorial 8</a>
                    </td>
                    
                    <td>
                        <a href="https://drive.google.com/file/d/1tZNOSi70aR-nDLhUuSkiABmLgjWJzaey/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 1</a>
                        <a href="https://drive.google.com/file/d/14huh_imoZEBawurEjCu1HcEj0CXvfLE7/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 2</a>
                        <a href="https://drive.google.com/file/d/1K1-E8wcy102Fy-z8beKmjbm49FUChzoi/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 3</a>
                        <a href="https://drive.google.com/file/d/1pmCq9FKc_abrXgiYyuMog5byJukqElx5/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 4</a>
                    </td>
                </tr>

                <tr>
                <td>INTRODUCTION TO BUSINESS MANAGEMENT</td>
                <td>
                    <a href="https://drive.google.com/file/d/1mzDDs-UbrBUNSH3DxJ_WCLXTovBWBJqM/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                    <a href="https://drive.google.com/file/d/1V0WxaMW24Fd1WvMa45n14aLPk2GPMpE8/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                    <a href="https://drive.google.com/file/d/1rBOUdjOhJmw9eVEFqpdSVd8GjK9fijG0/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                </td>
                
                <td>
                    <a type="url" class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                
                <td>
                    <a href="https://drive.google.com/file/d/119PSJ8FLXV-35Gr9GFNbbw3pgL5D_wil/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 1</a>
                    <a href="https://drive.google.com/file/d/18rVuYgSSyHkztp-_tH4iIFlBI6MZsfCf/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 2</a>
                    <a href="https://drive.google.com/file/d/1wCfBFP7-zAfIL3lX7L3-l_-gy6t1jrPT/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 3</a>
                    <a href="https://drive.google.com/file/d/16yBTaYJe2niDGQxfbh7Yh5e_Xlj_g4u3/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Past Paper">Set 4</a>
                </td>
                </tr>
                
                <tr>
                <td>CRITICAL THINKING</td>
                <td>
                    <a href="https://docs.google.com/presentation/d/1j6AJgDIbaJ8dr7NYj1FA8ZzMjP4qXoZn/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                    <a href="https://docs.google.com/presentation/d/14KmpJdEFpKYCiI4PUVvSPmbpMLYytNg0/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                    <a href="https://docs.google.com/presentation/d/1Q7WYYimwviTffYAUMloBk_OnY2OuVQBk/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                    <a href="https://docs.google.com/presentation/d/1Q1IwnLg0Kz7lCCFh-RRcbjQad74Hz3Oc/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4</a>
                    <a href="https://docs.google.com/presentation/d/16Kqo5KaTKPHwtYPRjCfUvmn3XdkWUIUH/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5</a>
                    <a href="https://docs.google.com/presentation/d/1ydlExy-9K0hXfv6f80oBQzWMuXmLAbex/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 6</a>
                    <a href="https://docs.google.com/presentation/d/11J_ZgpG8DN3es3uKrX06qfluJWteShRP/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 7</a>
                </td>
                
                <td>
                    <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                
                <td>
                    <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>
                </tr>
                
                <tr>
                <td>MULTIMEDIA FUNDAMENTALS</td>
                <td>
                    <a href="https://docs.google.com/presentation/d/1pNYzke7elkqkX2PS1uNdgHctd7k3HLWB/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                    <a href="https://drive.google.com/file/d/1hERlE5g1eZjtHVbE_u3Z8VQ9_MCjbHJ2/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                    <a href="https://drive.google.com/file/d/1U51gFdX4sPaEpoFjttOk3UK4dbOsoRLR/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                    <a href="https://drive.google.com/file/d/166-FNEJYT28CAjmFGBb4EMfvYMtm5Ghf/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4</a>
                    <a href="https://drive.google.com/file/d/1n3naDaDp-9j4kweg_aMAbIcopcUA4hbJ/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5</a>
                    <a href="https://drive.google.com/file/d/1I0LqUDIH_CavMukWPLOq8z8lQB1K5jzH/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 6</a>
                    <a href="https://drive.google.com/file/d/1LVuFM-Q9Eh17-tiHun3SsJYefkFLE7ab/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 7</a>
                    <a href="https://drive.google.com/file/d/1ngVunztrGvBPHBrhBSVHdMdX3cD-jEsW/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 8</a>
                    <a href="https://drive.google.com/file/d/1is-iBjDoNA-T4uVoQ8fE8AuyEiMVPRNP/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 9</a>
                    <a href="https://drive.google.com/file/d/1ZTk4FYQx-HnJtUAvULYxn62QduU0j_ve/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Chapter 10</a>
                </td>
                
                <td>
                    <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                
                <td>
                    <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>
                </tr>
                
                <tr>
                <td>PROBLEM SOLVING AND DESIGN</td>
                <td>
                    <a href="https://docs.google.com/presentation/d/18vf_7vOUU4tEMd8xUDy_E07G7Ilkp-MX/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 1</a>
                    <a href="https://docs.google.com/presentation/d/1PlO-cuh_asmFe1akfA7SBNGbdfyd9YLr/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 2</a>
                    <a href="https://docs.google.com/presentation/d/1bfYNGBljMUuKWPOARkkxsselxsuXoWxN/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 3</a>
                    <a href="https://docs.google.com/presentation/d/1XBhSLzFNRP_eeEnXZbFUzehfizQxao4i/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 4</a>
                    <a href="https://docs.google.com/presentation/d/1PazKrHJRLgSK7GhfvDcO2LGONnM-1_bE/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 5</a>
                    <a href="https://docs.google.com/presentation/d/1ZcBCaIL7dAQmcY4ICw32A_ojj8VsvNF1/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 6</a>
                    <a href="https://docs.google.com/presentation/d/1xZ2SO64ej_w2iZWEo5-UuGqdY3JJdSCm/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 7</a>
                    <a href="https://docs.google.com/presentation/d/1mDkt8HWid3aMANqL5jFKdmfIYj9Dk6ge/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 8</a>
                    <a href="https://docs.google.com/presentation/d/1puFgE_XF8b2MAv6TgMrOYSccqDwPiBdQ/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 9</a>
                    <a href="https://docs.google.com/presentation/d/1cn-lvl-4OD-5LN3N89JxaV1ZDEDKbmjP/edit?usp=drive_link&ouid=118080342742006628872&rtpof=true&sd=true" type="url" class="upload-link" placeholder="Link to Notes">Chapter 10</a>

                </td>
                
                <td>
                    <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                
                <td>
                    <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>
                </tr>
                
                <tr>
                <td>ENGLISH 1</td>
                <td>
                <a href="" type="url" class="upload-link" placeholder="Link to Notes">Grammar</a>
                <a href="" type="url" class="upload-link" placeholder="Link to Notes">Listening and speaking</a>
                <a href="" type="url" class="upload-link" placeholder="Link to Notes">Reading</a>
                <a href="" type="url" class="upload-link" placeholder="Link to Notes">Writing</a>
                </td>
                
                <td>
                <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                
                <td>
                <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>

                </tr> 

                <tr>
                <td>ENGLISH 2</td>
                <td>
                <a href="https://drive.google.com/file/d/15u2pY4GkzQXk_Rb0WW91Eq413h8uhJfg/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Grammar</a>
                <a href="https://drive.google.com/file/d/1ZV12IUrsDNRTReNyzaf1v1zrEHQ5D2da/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Listening and speaking</a>
                <a href="https://drive.google.com/file/d/17yT7BrOdFu4P7dSTkWUSaNYarJC21xl1/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Reading and vocabulary</a>
                <a href="https://drive.google.com/file/d/1_mYI5OGswb2hOZYqDUd3LvmEreqLwC5g/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Writing</a>
                </td>
                    
                <td>
                <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                    
                <td>
                <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>
    
                </tr>

                <tr>
                <td>ENGLISH 3</td>
                <td>
                <a href="https://drive.google.com/file/d/1rbk9oRTl_enhToKZCwhTU-MP0z1HiJOT/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Grammar</a>
                <a href="https://drive.google.com/file/d/1DDInsQ4bvyC8_ARpM7Py53Q4Z5Cg3YO5/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Writing</a>
                <a href="https://drive.google.com/file/d/1cZ3Ah2mm9fZZKMQc9BF--DSpK7CG-Im7/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Listening and speaking</a>
                <a href="https://drive.google.com/file/d/1zDnViTw58E5OQS0S9Awzk-Q2xobzJO2w/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Reading 1</a>
                <a href="https://drive.google.com/file/d/1oT4ttjNPll7ITltPYwjZGtYMs4gS3Pz_/view?usp=drive_link" type="url" class="upload-link" placeholder="Link to Notes">Reading 2</a>
                </td>
                        
                <td>
                <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                        
                <td>
                <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>
        
                </tr>

                <tr>
                <td>INTRODUCTION TO COMPUTING TECHNOLOGY</td>
                <td>
                <a href="" type="url" class="upload-link" placeholder="Link to Notes">Notes</a>
                </td>
                            
                <td>
                <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                            
                <td>
                <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>
            
                </tr>

                <tr>
                <td>MINI IT PROJECT</td>
                <td>
                <a href="" type="url" class="upload-link" placeholder="Link to Notes">Notes</a>
                </td>
                                
                <td>
                <a class="upload-link" placeholder="Link to Tutorial">No Tutorial</a>
                </td>
                                
                <td>
                <a class="upload-link" placeholder="Link to Past Paper">No Past Paper</a>
                </td>
                
                </tr>
                
            </tbody>
            </table>
        </div>
    </div>
    </section>
    </body>
</body>
</html>
